* {
    margin: 0;
    padding: 0;
    overflow-x: hidden!important;
}

body, h1, h2, h3, h4, h5 {
  font-family: 'Jost', sans-serif;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 3vh;
}

.navbar-brand {
    margin-left: 3vw;
}

.navbar-nav {
    margin-right: 3vw;
}
#site-logo {
    height: 7vh;
}

.nav-link {
    color: black;
    text-align: center;
    margin-right: 3vw;
}

.nav-link:hover {
    color: rgb(2, 57, 177);
}

.container {
  /* border: 3px solid gold; */
  padding: 50px
}

.uk-button a {
  color: white;
  text-decoration: none;
}

.uk-button a:hover {
  color: white;
  text-decoration: none;
}
